apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: chuck-norris-streams-filter-quarkus
  name: chuck-norris-streams-filter-quarkus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chuck-norris-filter-quarkus
  template:
    metadata:
      labels:
        app: chuck-norris-filter-quarkus
    spec:
      containers:
      - name: chuck-norris-filter
        image: quay.io/lbroudoux/chuck-norris-filter-quarkus:latest
        env:
        - name: BOOTSTRAP_SERVERS
          value: my-cluster-kafka-bootstrap.amq-streams.svc.cluster.local:9092
        - name: MOVIES_SOURCE_TOPIC
          value: dbserver1.inventory.movie
        - name: CUSTOMERS_SOURCE_TOPIC
          value: dbserver1.inventory.customer
        - name: RENTALS_SOURCE_TOPIC
          value: dbserver1.inventory.rental
        - name: TARGET_TOPIC
          value: rental-chuck-norris